<head>
</head>
<body class="flex justify-center items-center flex-col m-5 p-5">
    <div class="flex justify-center items-center flex-col">
        
        <img
          id="profileImage"
          class="bg-white m-2 p-1 rounded-full object-cover w-40 h-40"
          [src]="profileLink ? profileLink : 'https://www.w3schools.com/howto/img_avatar.png' "
          alt="user profile"
        />
        
        <label class="varela-round-regular cursor-pointer mt-2 px-4 py-2 bg-green-300 text-blue-950 rounded hover:bg-green-200 transition">
          Upload Image
          <input
            id="fileInput"
            type="file"
            accept="image/*"
            class="hidden"
            (change)="onSelectFile($event)"
          />
        </label>
      </div>          
      
    <form [formGroup]="formData" class="w-3/4 border-2 p-4 my-10 rounded-lg flexn flex-shrink bg-white">
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/3 m-1 p-1">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName"required placeholder="eg. John Smith"/>
        </mat-form-field>
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/2 m-1 p-1 ">
            <mat-label>Email Address</mat-label>
            <input 
            matInput 
            required
            type="email"
            formControlName="email"      
            placeholder="eg. 123@example.com" />
        </mat-form-field>
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/3 m-1 p-1">
            <mat-label>Last Name</mat-label>
            <input
            formControlName="lastName"
             required matInput placeholder="eg. Doe" />
        </mat-form-field>
        <mat-form-field class="w-1/2 m-1 p-1">
            <mat-label>Department</mat-label>
            <mat-select required formControlName="department">
                <mat-option value="Information and Technology">Information and Technology</mat-option>
                <mat-option value="Human Resource">Human Resource</mat-option>
                <mat-option value="Operation">Operation</mat-option>
                <mat-option value="Administration">Administration</mat-option>
                <mat-option value="Finance">Finance</mat-option>
                <mat-option value="Marketing">Marketing</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="w-1/3 m-1 p-1">
            <mat-label>Gender</mat-label>
            <mat-select required formControlName="gender">
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Male">Male</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/2 m-1 p-1">
            <mat-label>Designation</mat-label>
            <input formControlName="designation" required matInput placeholder="eg. Senior Software Developer" />
        </mat-form-field>
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/3 m-1 p-1">
            <mat-label>Salary Level</mat-label>
            <input formControlName="salaryLevel" required matInput placeholder="eg. 43000 (Number Only)" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date of Join</mat-label>
            <input formControlName="date_of_joining" matInput [matDatepicker]="picker" readonly>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br/>
        <mat-form-field [floatLabel]="floatLabel()" class="w-1/3 m-1 p-1">
            <mat-label>Other</mat-label>
            <textarea formControlName="other" matInput rows="2" placeholder="Extra Comments eg. fish allergy"></textarea>
        </mat-form-field>

        <button 
        class="{{editButtonStyle}} p-3 text-center text-xl mx-5 rounded-md varela-round-regular"
        (click)="toggleEditMode()"
      >
        {{ editing ? 'Turn Off Edit Mode' : 'Turn On Edit Mode' }}
      </button>
    
        <button (click)="onSubmit()" class="cursor-pointer bg-green-300 text-blue-950 p-3 rounded-md text-xl self-end varela-round-regular hover:bg-green-200">Submit</button>
        <button (click)="deleteEmpById()" class="bg-red-500 text-yellow-200 cursor-pointer p-3 rounded-md text-xl varela-round-regular mx-5 hover:bg-red-600">Delete Profile</button>
    </form>  
</body>