<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./dashboard.component.css" rel="stylesheet">
</head>
<body class="flex flex-row w-screen overflow-auto">
<app-sidebar class="w-1/5 sticky left-0 h-auto"></app-sidebar>

  <div class="min-h-screen flex-grow overflow-y-auto w-4/5 bg-slate-100 flex flex-col justify-start items-center">
      <div class="flex flex-row items-center">
        <h1 class="varela-round-regular text-4xl p-4">Employee Management System</h1>
        <button (click)="logout()" class="rounded-full bg-white border-b-2 p-3 text-blue-800 border-gray-300 hover:border-b-4 hover:bg-blue-200 hover:duration-500">Log out</button>
      </div>
      <div class="w-3/4 h-auto p-3 flex justify-center varela-round-regular">
        <select [(ngModel)]="searchString">
          <option value="" disabled selected>Select an option</option>
          <option value="Information and Technology">Information and Technology</option>
          <option value="Human Resource">Human Resource</option>
          <option value="Operation">Operation</option>
          <option value="Administration">Administration</option>
          <option value="Finance">Finance</option>
          <option value="Marketing">Marketing</option>
        </select>        
        <button (click)="search()"  class="bg-white p-2 rounded-lg border-2 w-32 mx-4">Search</button>
        <ng-container *ngIf="searched">
          <button (click)="clearSearch()" class="p-2 bg-green-300 text-blue-950 rounded-md">Clear Search History</button>
        </ng-container>
      </div>
    
      <ng-container *ngIf="employees.length > 0; else noResult">
        <div class="flex flex-wrap justify-center mx-auto my-16">
          <a *ngFor="let emp of employees"
             [routerLink]="['/detail/', emp.id]"
             class="flex flex-col justify-center items-center bg-white rounded-lg mx-5 my-3 w-64 p-5">
            <img class="w-40 h-40" [src]="emp.employee_photo.length > 0 ? emp.employee_photo : 'https://www.w3schools.com/howto/img_avatar.png'" alt="Icon" />
            <div class="py-2">
              <p class="text-center varela-round-regular text-xl">{{ emp.first_name }} {{ emp.last_name }}</p>
              <p class="text-center varela-round-regular">{{ emp.department }} - {{ emp.designation }}</p>
            </div>
          </a>
        </div>
      </ng-container>

      <ng-template #noResult>
        <div class="text-center py-20">
          <h2 class="varela-round-regular text-gray-400 text-4xl">- No Results -</h2>
        </div>
      </ng-template>
      
      

  </div>
    
    
</body>
</html>